*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: rgb(248, 225, 16);
    font-family: 'Times New Roman', Times, serif !important;
}

.redondeo{
    width: 150px;
    border-radius: 50%;
    margin-right: 40px ;

}

#encabezado{
    background-image: url("../img/header.png");
    height: 200px;
    color: rgb(233, 213, 62);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#encabezado h1{
    font-size: 50px !important;
    font-weight: bolder !important;
    margin-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.4);
}


.activo {
    color:white;
    background-color: black;
}

#menuNav{
    width: 100%;
    background-color: rgb(30, 136, 223);
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid yellow;

}

#menuNav a{
    color: rgb(247, 250, 50);
    padding: 10px;
    text-decoration: none;

}
#menuNav a:hover{
    background-color:black;
}

.carousel-caption{
    z-index: 1 !important;
    background-color: rgba(0, 0, 0, 0.642) !important;
}

.carousel-item{
    background-color: rgba(0, 0, 0) !important;
}

.d-block{
    height: 400px;

    margin: auto;
}
.grid-container{
    display: grid;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 450px;
    min-height:600px;
    background-color: rgb(62, 156, 228);
    color: black;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr 3fr 1fr;
}
.grid-item{
   

}
.grid-itemDoble{
    grid-column-start: 1;
    grid-column-end: 3;
}
.center{
    text-align: center;
}
.button{
    background-color: blue;
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.button:hover{
    background-color:black;
}

.input{
    height: 25px;
    width: 100%;
    border: 1px solid black ;
    border-radius: 10px;
}
.textarea{
    width: 100%;
    border: 1px solid black ;
    border-radius: 10px;

}
.label{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
.error{
    color:red;
}

