*{
    margin: 0;
    padding: 0;
}
.contenedor-index{
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 3 auto;
    grid-template-areas:    "header header header header header"
                            "menuNav menuNav menuNav menuNav menuNav"
                            "main main main main main" ;
}
.main{
    grid-area: main;
}
.contenedor-pistas {
    width: 90%;
    max-width: 100px;
    margin: 20px auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 3 auto;
    grid-template-areas:    "header header header header header"
                            "menuNav menuNav menuNav menuNav menuNav"
                            "section section section section" ;

}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 4 auto;
    grid-template-areas:    "header header header header header"
                            "menuNav  menuNav menuNav  menuNav menuNav"
                            "section section section section section" 
                            "footer footer footer footer footer";
}

.section{
    grid-area: section;
}
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

/*body{
    background-color: rgb(118, 118, 225);
    color: rgb(248, 225, 16);
    font-family: 'Times New Roman', Times, serif !important;
}*/

.redondeo{
    width: 150px;
    border-radius: 50%;
    margin-right: 40px ;

}

.header{
    grid-area: header;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/header.png");
    height: 200px;
    color: rgb(233, 213, 62);
    text-shadow: 2px 2px 2px black;
    flex-direction: row;



}

.header h1{
    font-size: 50px !important;
    font-weight: bolder !important;
    margin-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.4);
}


.activo {
    color:white;
    background-color: black;
}

.menuNav{
    width: 100%;
    background-color: rgb(30, 136, 223);
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid yellow;
    grid-area: menuNav;

}

.menuNav a{
    color: rgb(247, 250, 50);
    padding: 10px;
    text-decoration: none;

}
.menuNav a:hover{
    background-color:black;
}

.carousel-caption{
    z-index: 1 !important;
    background-color: rgba(0, 0, 0, 0.642) !important;
}

.carousel-item{
    background-color: rgba(0, 0, 0) !important;
}

.d-block{
    height: 400px;

    margin: auto;
}
.grid-container{
    display: grid;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 450px;
    min-height:600px;
    background-color: rgb(62, 156, 228);
    color: black;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr 3fr 1fr;
}

.grid-itemDoble{
    grid-column-start: 1;
    grid-column-end: 3;
}
.center{
    text-align: center;
}
.button{
    background-color: blue;
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.button:hover{
    background-color:black;
}

.input{
    height: 25px;
    width: 100%;
    border: 1px solid black ;
    border-radius: 10px;
}
.textarea{
    width: 100%;
    border: 1px solid black ;
    border-radius: 10px;

}
.label{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
.error{
    color:red;
}
@media screen and (max-width: 600px){
    .contenedor{

    grid-template-areas: 
                        "header"
                        "menuNav "
                        "section" 
                        "footer";

    }
    .contenedor-index{
        grid-template-areas: "header"
                            "menuNav"
                            "main" ;

    }
    .img{
        width: 400px;
    }
}

@media screen and (min-width: 600px){
    .contenedor{

    grid-template-areas: 
                        "header header"
                        "menuNav meniNav"
                        "section section" 
                        "footer footer";

    }
    .contenedor-index{
        grid-template-areas: "header header"
                            "menuNav menuNav"
                            "main main" ;

    }
    .img{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .contenedor{

    grid-template-areas: 
                        "header header header header"
                        "menuNav menuNav menuNav menuNav"
                        "section section section section" 
                        "footer footer footer footer";

    }
    .contenedor-index{
        grid-template-areas: "header header header header"
                            "menuNav menuNav menuNav menuNav"
                            "main main main main" ;

    } 
}

